.address {
    font-weight: bold;
}

.address-info {
    margin-bottom: 5%;
}

.address-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.backBtn{
    background-color: salmon;
    color: #fff;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.image {
    width: '60%';
    height: '50%';
}